<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{site.url}}">
      <img src="{{site.baseurl}}/assets/images/snap-logo.png" alt="SNAP Nutrient Solution for Hydroponics" >
    </a>

    <a role="button"
       class="navbar-burger"
       data-target="navMenu"
       aria-label="menu"
       aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a href="#">English</a>
      </div>
      <div class="navbar-item">
        <a href="#">Filipino</a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Menu</a>

        <div class="navbar-dropdown">
          <div class="navbar-item">
            <a href="{{site.pages.setup}}">User Manual</a>
          </div>
          <div class="navbar-item">
            <a href="{{site.pages.about}}">About</a>
          </div>
          <div class="navbar-item">
            <a href="{{site.pages.faq}}">FAQ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
